Anova
Three archers – Pat, Jack, and Alex are participating in an archery contest. They are shooting at
targets with 10 evenly spaced concentric rings. The rings have score values from 1 through 10
assigned to them, with 10 being the highest. Each participant shoots 6 arrow, scoring the
following points:
Pat – 5, 4, 4, 3, 9, 4
Jack – 4, 8, 7, 5, 1, 5
Alex – 9, 9, 8, 10, 4, 10
Based on the above results we would like to know who the best archer is. In other words our null
hypothesis is that the means of all populations are equal.

In [9]:
import pandas as pd

In [10]:
Pat=[5,4,4,3,9,4]
Jack=[4,8,7,5,1,5]
Alex=[9,9,8,10,4,10]

In [11]:
sum=Pat+Jack+Alex
names=(['Pat']*len(Pat)+['Jack']*len(Jack)+['Alex']*len(Alex))

In [12]:
data=pd.DataFrame({'names':names,'score':sum})
data

   names  score
0    Pat      5
1    Pat      4
2    Pat      4
3    Pat      3
4    Pat      9
5    Pat      4
6   Jack      4
7   Jack      8
8   Jack      7
9   Jack      5
10  Jack      1
11  Jack      5
12  Alex      9
13  Alex      9
14  Alex      8
15  Alex     10
16  Alex      4
17  Alex     10

In [13]:
data.groupby('names').mean()

          score
names
Alex   8.333333
Jack   5.000000
Pat    4.833333

In [14]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [15]:
lm=ols('score ~ names',data=data).fit()
table=sm.stats.anova_lm(lm)
print(table)

            df     sum_sq    mean_sq         F    PR(>F)
names      2.0  46.777778  23.388889  4.488273  0.029668
Residual  15.0  78.166667   5.211111       NaN       NaN

In [ ]:
Null hypothesis(H0):Means of all populations is equal.
Alternate Hypothesis(H1):Means of all populations is not equal

SOLUTION:
    
We failed to reject null hypothesis as p value is below 0.05(which means we dont accept null hypothesis)

The best archer is Alex who scored 8.333333.