1.Use User Data set and show the accuracy through the SVM model

In [1]:
import pandas as pd 
import numpy as np

In [2]:
df=pd.read_csv('User_Data.csv')
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [3]:
x=df.iloc[:, [3]].values  
y=df.iloc[:, 4].values

In [4]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=109)

In [5]:
from sklearn import svm
clf = svm.SVC(kernel='linear')
clf.fit(x_train, y_train)
y_pred = clf.predict(x_test)

In [6]:
clf

SVC(kernel='linear')

In [7]:
from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.7416666666666667

In [9]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

[[69 11]
 [20 20]]
              precision    recall  f1-score   support

           0       0.78      0.86      0.82        80
           1       0.65      0.50      0.56        40

    accuracy                           0.74       120
   macro avg       0.71      0.68      0.69       120
weighted avg       0.73      0.74      0.73       120